body{
	display: grid;
	grid-template: 
	"... ...... ...... ..." 10px
	"... header header ..." 300px
	"... ...... ...... ..." 10px
	"... left   center ..." 1fr
	"... ...... ...... ..." 10px
	/ 10px 150px 1fr 10px;
	border: solid;
	border-color: rgba(128,128,0,0.5);
	background-color: #ffffff;

	
	font-family: 'Montserrat Subrayada', sans-serif;
	}

.date{
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
	margin-top: 10px;
}

h1{
	font-weight: bold;
	font-size: 38px;
}


.h_guideline{
	display: flex;
	justify-content: space-around;
	color: white;
}

.guideline{
	/*list-style: none;*/
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.move_a{
	border: solid;
	color: white;
	border-color: rgba(128,128,0,0.5);
	background-color: rgba(128,128,0,0.5);
}

.move_a:hover{
	background-color: rgba(128,128,0,0.7);
	color: white;
}

/*header内*/
header{
	color: white;
	grid-area: header;
	background: rgba(128,128,0,0.5);
	text-align: center;
	font-size: 25px;
}

/*contents内*/
main{
	grid-area: center;
	font-family: none;
	width: 100%;
	/*max-width: 800px;*/
	margin: 0 auto;
	table-layout: fixed;
	padding-left: 10px;}

.container{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
}

table{
	margin-left: 100px;
}

aside{
	grid-area: left;
	text-align: center;
	margin-right: 10px;
	display: flex;
	flex-direction: column;}

.skill_group{
	margin-left: 100px;
	font-size: 25px;
	margin-right: 100px;
	min-height: 300px;
}

#task_content{
	padding: 30px;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
	min-height: 500px;
	margin-bottom: 100px;
	background: rgba(128,128,0,0.1);
}

.task_submit{
	cursor: pointer;
	justify-content: center;
}

.task_list{
	list-style-type: none;
	padding-top: 0px;
}


.position_center{
	display: flex;
	justify-content: center;
}

.remove_button{
	font-size: 20px;
	width: 30px;
	height: 30px;
	padding: 0.2px;
	border: none;
	cursor: pointer;
	background: rgba(128,128,0,0.1);
}

.remove_button:hover{
	background-color:rgba(128,128,0,0.5);
}


.li_margin_bottom{
	margin-bottom: 20px;
	border: solid;
	border-color: rgba(128,128,0,0.5);
}

.l1{
	display: flex;
	justify-content: end;
	align-items: start;
}

.l2{
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.l3{
	display: flex;
	justify-content: end;
	font-size: 5px;
}

.margin_bottom{
	margin-bottom: 100px;
}

/*footer内*/
.footer{
	height: 300px;
	margin-top: auto;
	min-height: 90%;
	display: flex;
	align-items: flex-end;
	background: linear-gradient(rgba(128,128,0,0.005),rgba(128,128,0,1));
}

small{
	color: white;
	margin-bottom: 10px;
}

#secret{
	visibility:hidden;
}

#secret:hover{
	visibility:visible;
}