<!DOCTYPE html>
{% load static %}
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="IE=EDge">

  <title>ポートフォリオサイト</title>
  <meta name="description" content="高蔵一平のポートフォリオサイトです。">
  <meta name="keywords" content="高蔵一平, エンジニア, ポートフォリオサイト">
  <meta name="author" content="高蔵一平">


  <link rel="stylesheet" href="{% static 'example.css' %}"/>


 </head>



 <body>
    <header>
        <h2>IPPEI TAKAKURA<h2>
        <h2>THIS IS MY PORTFOLIO SITE.</h2>
        <ul class="h_guideline">
            <a class="move_a" href="#index">Profile</a>
            <a class="move_a" href="#index2">My Skills</a>
            <a class="move_a" href="#index3">Works</a>
        </ul>
    </header>

    
    <aside>
        <ul class="guideline">
            <a class="move_a" href="#index">Profile</a>
            <a class="move_a" href="#index2">My Skills</a>
            <a class="move_a" href="#index3">Works</a>
        </ul>

        <div class="footer">
            <small>
                @ 2022 IPPEI TAKAKURA
            </small>

        </div>


    </aside>

    <main>
        <div class="date">
            {% now "現在時刻：Y年m月d日 H時i分" %}
        </div>
        <h1 id="index">My Profile</h1>

        <div class="container position_center margin_bottom">
            <a href="#index"><img src="{% static 'ippei.jpeg' %}"　width="192" height="262"/></a>
            <table>
                <tr><td>名前</td><td>高蔵一平</td></tr>                    
                <tr><td>生年月日</td><td>1999年9月26日({{myage}})</td></tr>
                <tr><td>出身</td><td>日本・福岡県福岡市早良区</td></tr>
                <tr><td>身長</td><td>174cm</td></tr>
                <tr><td>血液型</td><td>B型</td></tr>
                <tr><td>学歴</td><td>九州工業大学情報工学部</td></tr>
            </table>
        </div>
        <hr>
        <h1 id="index2">My Skills</h1>
        <div  class="skill_group margin_bottom">
            <ul>
                {% for skill in skills %}
                <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <h1 id="index3">My Works</h1>

        <h2 class="position_center">To Do List</h2>
        <form action='/todo_post/#index3' method='POST' class="position_center">{%csrf_token%}
            <input class="task_value" type="text" name='content'/>
            <input class="task_submit" type="submit" name='送信'/>
        </form>
        <div id="task_content">
            <h2 class="position_center">Current Tasks</h2>
            <ul class="task_list">
                {% for todo_list in todo_lists %}
                    <li>
                        <input id="line{{todo_list.id}}" class="checkbox" type="checkbox">
                        <label class="complete" for="line{{todo_list.id}}">
                            {{todo_list.content}}
                        </label>
                    </li>
                
                {% empty %}
                <li>リストは空です</li>
                {% endfor %}
            </ul>
        </div>

        <hr>

    </main>

 </body>
</html>