<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="IE=EDge">

  <title>ポートフォリオサイト</title>
  <meta name="description" content="高蔵一平のポートフォリオサイトです。">
  <meta name="keywords" content="高蔵一平, エンジニア, ポートフォリオサイト">
  <meta name="author" content="高蔵一平">


<link rel="stylesheet" href="example2.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
<style>
    canvas {
        background-color: darkblue;
        border: solid 5px skyblue;
    } 
</style>

 </head>



 <body>
    <header>
        <h1>IPPEI TAKAKURA<h1>
        <h2>THIS IS MY PORTFOLIO SITE.</h2>
        <h3>paint</h3>
        

    </header>

    
    <aside>
        <ul>
            <a href="example.html">Home</a>
            <a href="example2.html">About me</a>
            <a href="example2.html">Account</a>
            <a href="example2.html">chat</a>
            <a href="example2.html">paint</a>
            <a href="example2.html">contact</a>
        </ul>


        <div>
            <small>
                @ 2022 IPPEI TAKAKURA
            </small>
        </div>
    </aside>

    <main>
        <select id="color">
            <option value="white" style="background-color:white;color:black" selected>white</option>
            <option value="red" style="background-color:red;color:black">red</option>
            <option value="blue" style="background-color:blue;color:black">blue</option>
            <option value="yellow" style="background-color:yellow;color:black">yellow</option>
        </select>
    
        <canvas id="canvas" width="600" height="600"></canvas>


    </main>

    <footer>
        <small>
            @ 2022 IPPEI TAKAKURA
        </small>
    </footer>
    <script type="text/javascript" src="example.js"></script>

 </body>

</html>